body {
  background: lightgray;
}


.app{
  display: flex;
}

.input-form {
  margin: 40px;
  padding:10px;
  background: white;
  box-shadow: 1px;
}

.input-form .title{
  font-size: 20px;
}

.input-form input[type="submit"]{
  min-width: 100%;
  height: 32px;
  background: black;
  color: white;
}




.breakdown {
  margin: 40px 10px;
  line-height: 24px;
}

.breakdown .denominator {
  display: flex;
  flex-wrap: wrap;
}

.breakdown .denominator .note-type {
  flex: 1 1 50%;
}

.title-main{
  min-height: 80px;
  background: darkslategray;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}